body {
    background-color: rgb(138, 147, 238);
}
h1{
    color: black;
}
h2{
    color: black;
    font-style: bolder;
}
.card-body{
    background-color: #e3f2fd;

}
.text-start{
    background-color: #e3f2fd;

}